*{
    margin:0px;
    padding:0px;
}
body{
    font-size:18px;
    color: white;
    background-color: hsl(217, 54%, 11%);
   position: relative;
}
#container{
   
    background-color: hsl(216, 50%, 16%);
    margin-top: 50px;
    max-width: 350px;
    padding:20px;
    border-radius: 10px;
    position: absolute;
    left:calc(50% - 175px)
    
}
#equilibrium{
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 25px;
}
h1{
    margin-bottom: 20px;
    opacity: 0.9;
    font-size: 25px;
}
p{
    margin-bottom: 20px;
    opacity: 0.4;
}
#ETH{
    color: cyan;
    opacity: 0.9;
    
}
#days{
    opacity: 0.4;
    margin-left: 50%;
}
hr{
    margin-top: 20px;
    opacity: 0.2;
    margin-bottom: 20px;
}

#avatar{
    display:inline-block;
    border:1px solid whitesmoke;
    border-radius: 20px;
   
}
#footer{
    margin-left: 20px;
    margin-bottom: 10px;
}
footer{
    display:inline-block;
    opacity: 0.4;
  
}
#name{
    margin-left: 7px;
    display:inline-block;
    opacity:0.9
}